[submodule "Examples/src/LinearAlgebra/CppNumericalSolvers"]
	path = Examples/src/LinearAlgebra/CppNumericalSolvers
	url = git@github.com:lformaggia/CppNumericalSolvers.git
[submodule "Examples/src/LinearAlgebra/spectra"]
	path = Examples/src/LinearAlgebra/spectra
	url = git@github.com:lformaggia/spectra.git
[submodule "Examples/src/LinearAlgebra/redsvd-h"]
	path = Examples/src/LinearAlgebra/redsvd-h
	url = git@github.com:lformaggia/redsvd-h.git
[submodule "Extras/muparser"]
	path = Extras/muparser
	url = git@github.com:lformaggia/muparser.git
[submodule "Extras/muparserx"]
	path = Extras/muparserx
	url = git@github.com:lformaggia/muparserx.git
[submodule "muparserx"]
	branch = pacs
