/Examples/src/RK45/main_rk45
/Examples/src/SimpleProgram/main_ch1
/Examples/src/SmartPointers/mainsimple
/Examples/src/AbstractFactory/main_testAbstractFactory
/Examples/src/Factory/main_poly
/Examples/src/RandomDistibutions/main_random
/Examples/src/SmartPointers/main_smart_pointers
/Examples/src/Streams/redirect/main_redirect
/Examples/src/QuadratureRule/AllDynamic/main_integration
/Examples/src/QuadratureRule/DynamicIntegrands/main_integration
/Examples/src/OneDMesh/main_testGenerators
/Examples/src/MetaProgramming/MetaDot/main_metadot
/Examples/src/HeatExchange/Figure/barra.eps
/Examples/src/HeatExchange/Figure/barra.pdf
/Examples/src/HeatExchange/heat_exchange.pdf
/Examples/src/Array/main_array
/Extras/YangBook/chapter1/ch1.1
/Extras/YangBook/chapter1/ch1.3
/Extras/YangBook/chapter1/ch1.4
/Extras/YangBook/chapter1/ch1.6.1
/Extras/YangBook/chapter1/ch1.6.12
/Extras/YangBook/chapter1/ch1.6.2
/Extras/YangBook/chapter10/ch10list
/Extras/YangBook/chapter10/ch10set
/Extras/YangBook/chapter10/vector
/Extras/YangBook/chapter11/gcc3.4/fdmmain
/Extras/YangBook/chapter11/gcc3.4/fdmmain2
/Extras/YangBook/chapter11/gcc3.4/matvecmain
/Extras/YangBook/chapter2/ch2.3
/Extras/YangBook/chapter2/ch2.4fibonacci
/Extras/YangBook/chapter2/ch2.5.15
/Extras/YangBook/chapter3/ch3.11
/Extras/YangBook/chapter3/ch3.11math
/Extras/YangBook/chapter3/ch3.12horn
/Extras/YangBook/chapter3/ch3.4-3.5
/Extras/YangBook/chapter3/ch3.8
/Extras/YangBook/chapter3/ch3.8.10
/Extras/YangBook/chapter3/ch3.8.4
/Extras/YangBook/chapter3/ch3.8.9
/Extras/YangBook/chapter5/ch5.10.18
/Extras/YangBook/chapter5/ch5.2
/Extras/YangBook/chapter5/ch5.4
/Extras/YangBook/chapter5/ch5.5
/Extras/YangBook/chapter5/ch5.7
/Extras/YangBook/chapter5/ch5.8
/Extras/YangBook/chapter5/ch5.9
/Extras/YangBook/chapter6/ch6.1
/Extras/YangBook/chapter6/ch6.3a
/Extras/YangBook/chapter6/ch6.3b
/Extras/YangBook/chapter6/ch6.5
/Extras/YangBook/chapter6/ch6.6
/Extras/YangBook/chapter6/ch6.7.12
/Extras/YangBook/chapter6/ch6tiny
/Extras/YangBook/chapter6/opov
/Extras/YangBook/chapter7/ch7.1Vcr
/Extras/YangBook/chapter7/ch7.1_LFVcr
/Extras/YangBook/chapter7/ch7.2compare
/Extras/YangBook/chapter7/ch7.2cube
/Extras/YangBook/chapter7/ch7.2efficiency
/Extras/YangBook/chapter7/ch7.2sort
/Extras/YangBook/chapter7/ch7.6numAlg
/Extras/YangBook/chapter7/ch7.7exprTemplate
/Extras/YangBook/chapter7/ch7.7fibonacci
/Extras/YangBook/chapter7/ch7.7funObj
/Extras/YangBook/chapter7/ch7.7templateMeta
/Extras/YangBook/chapter7/ch7.8poly
/Extras/YangBook/chapter7/ch7.9.4traits
/Extras/YangBook/chapter7/complexFloat
/Extras/YangBook/chapter8/ch8.1destructor
/Extras/YangBook/chapter8/ch8.1point
/Extras/YangBook/chapter8/ch8.3inheritance
/Extras/YangBook/chapter8/ch8.6trick
/Extras/YangBook/chapter8/ch8.6trick2
/Extras/YangBook/chapter8/ch8.6trick3
/Extras/YangBook/chapter9/ch9.1excep
/Extras/YangBook/chapter9/ch9.2MVerr
/Extras/StandardLibraryIIEdition/cont/setcmp1
/Extras/StandardLibraryIIEdition/cont/set1
/Examples/src/bcHandler/main_testbcContainer
/Examples/src/DesignPatterns/AbstractFactory/main_AbstractFactory
/Examples/src/DesignPatterns/Composite/main_composite
/Examples/src/DesignPatterns/Visitor/main_Visitor
/Examples/src/Utilities/test_cppversion
/Examples/src/Utilities/test_chrono
/Examples/#Makefile.user#

# generated documentation
Examples/src/*/doc/*

# configuration files
Examples/Makefile.inc

# backup files
*~

# c++ compiled
*.o
*.s
a.out
main
*.a
*.so

# makefile aux
make.dep

# simulation results
*.dat

# latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.ps
*.bbl
*.blg
