/Extras/StandardLibraryIIEdition/cont/setcmp1
/Extras/StandardLibraryIIEdition/cont/set1
/Examples/src/bcHandler/main_testbcContainer
/Examples/src/DesignPatterns/AbstractFactory/main_AbstractFactory
/Examples/src/DesignPatterns/Composite/main_composite
/Examples/src/DesignPatterns/Visitor/main_Visitor
/Examples/src/Utilities/test_cppversion
/Examples/src/Utilities/test_chrono
/Examples/#Makefile.user#

# generated documentation
Examples/src/*/doc/*

# configuration files
Examples/Makefile.inc

# backup files
*~

# c++ compiled
*.o
*.s
a.out
main
*.a
*.so

# makefile aux
make.dep

# simulation results
*.dat

# latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.ps
*.bbl
*.blg
