[submodule "Examples/src/LinearAlgebra/CppNumericalSolvers"]
	path = Examples/src/LinearAlgebra/CppNumericalSolvers
	url = git@github.com:pacs-course/CppNumericalSolvers.git
[submodule "Examples/src/LinearAlgebra/spectra"]
	path = Examples/src/LinearAlgebra/spectra
	url = git@github.com:pacs-course/spectra.git
[submodule "Examples/src/LinearAlgebra/redsvd-h"]
	path = Examples/src/LinearAlgebra/redsvd-h
	url = git@github.com:pacs-course/redsvd-h.git
[submodule "Extras/muparser"]
	path = Extras/muparser
	url = git@github.com:pacs-course/muparser.git
[submodule "Extras/muparserx"]
	path = Extras/muparserx
	url = git@github.com:pacs-course/muparserx.git
[submodule "Extras/json"]
	path = Extras/json
	url = git@github.com:pacs-course/json.git
	branch = PACS
[submodule "Extras/pybind11"]
	path = Extras/pybind11
	url = git@github.com:pacs-course/pybind11.git
[submodule "Examples/src/pybind11/pybind11_examples"]
	path = Examples/src/pybind11/pybind11_examples
	url = git@github.com:pacs-course/pybind11_examples.git
[submodule "json"]
	branch = PACS
[submodule "muparser"]
	branch = master
[submodule "muparserx"]
	branch = master
[submodule "spectra"]
	branch = master
[submodule "redsvd-h"]
	branch = master
[submodule "CppNumericalSolvers/"]
	branch = master
[submodule "pybind11"]
	branch = master
