/Examples/include/*
/Examples/src/RK45/main_rk45
/Examples/src/SimpleProgram/main_ch1
/Examples/src/SmartPointers/mainsimple
/Examples/src/AbstractFactory/main_testAbstractFactory
/Examples/src/Factory/main_poly
/Examples/src/RandomDistibutions/main_random
/Examples/src/SmartPointers/main_smart_pointers
/Examples/src/Streams/redirect/main_redirect
/Examples/src/QuadratureRule/AllDynamic/main_integration
/Examples/src/QuadratureRule/DynamicIntegrands/main_integration
/Examples/src/OneDMesh/main_testGenerators
/Examples/src/MetaProgramming/MetaDot/main_metadot
/Examples/src/HeatExchange/Figure/barra.eps
/Examples/src/HeatExchange/Figure/barra.pdf
/Examples/src/HeatExchange/heat_exchange.pdf
/Examples/src/Array/main_array
/Extras/YangBook/chapter1/ch1.1
/Extras/YangBook/chapter1/ch1.3
/Extras/YangBook/chapter1/ch1.4
/Extras/YangBook/chapter1/ch1.6.1
/Extras/YangBook/chapter1/ch1.6.12
/Extras/YangBook/chapter1/ch1.6.2
/Extras/YangBook/chapter10/ch10list
/Extras/YangBook/chapter10/ch10set
/Extras/YangBook/chapter10/vector
/Extras/YangBook/chapter11/gcc3.4/fdmmain
/Extras/YangBook/chapter11/gcc3.4/fdmmain2
/Extras/YangBook/chapter11/gcc3.4/matvecmain
/Extras/YangBook/chapter2/ch2.3
/Extras/YangBook/chapter2/ch2.4fibonacci
/Extras/YangBook/chapter2/ch2.5.15
/Extras/YangBook/chapter3/ch3.11
/Extras/YangBook/chapter3/ch3.11math
/Extras/YangBook/chapter3/ch3.12horn
/Extras/YangBook/chapter3/ch3.4-3.5
/Extras/YangBook/chapter3/ch3.8
/Extras/YangBook/chapter3/ch3.8.10
/Extras/YangBook/chapter3/ch3.8.4
/Extras/YangBook/chapter3/ch3.8.9
/Extras/YangBook/chapter5/ch5.10.18
/Extras/YangBook/chapter5/ch5.2
/Extras/YangBook/chapter5/ch5.4
/Extras/YangBook/chapter5/ch5.5
/Extras/YangBook/chapter5/ch5.7
/Extras/YangBook/chapter5/ch5.8
/Extras/YangBook/chapter5/ch5.9
/Extras/YangBook/chapter6/ch6.1
/Extras/YangBook/chapter6/ch6.3a
/Extras/YangBook/chapter6/ch6.3b
/Extras/YangBook/chapter6/ch6.5
/Extras/YangBook/chapter6/ch6.6
/Extras/YangBook/chapter6/ch6.7.12
/Extras/YangBook/chapter6/ch6tiny
/Extras/YangBook/chapter6/opov
/Extras/YangBook/chapter7/ch7.1Vcr
/Extras/YangBook/chapter7/ch7.1_LFVcr
/Extras/YangBook/chapter7/ch7.2compare
/Extras/YangBook/chapter7/ch7.2cube
/Extras/YangBook/chapter7/ch7.2efficiency
/Extras/YangBook/chapter7/ch7.2sort
/Extras/YangBook/chapter7/ch7.6numAlg
/Extras/YangBook/chapter7/ch7.7exprTemplate
/Extras/YangBook/chapter7/ch7.7fibonacci
/Extras/YangBook/chapter7/ch7.7funObj
/Extras/YangBook/chapter7/ch7.7templateMeta
/Extras/YangBook/chapter7/ch7.8poly
/Extras/YangBook/chapter7/ch7.9.4traits
/Extras/YangBook/chapter7/complexFloat
/Extras/YangBook/chapter8/ch8.1destructor
/Extras/YangBook/chapter8/ch8.1point
/Extras/YangBook/chapter8/ch8.3inheritance
/Extras/YangBook/chapter8/ch8.6trick
/Extras/YangBook/chapter8/ch8.6trick2
/Extras/YangBook/chapter8/ch8.6trick3
/Extras/YangBook/chapter9/ch9.1excep
/Extras/YangBook/chapter9/ch9.2MVerr
/Extras/StandardLibraryIIEdition/cont/setcmp1
/Extras/StandardLibraryIIEdition/cont/set1
/Examples/src/bcHandler/main_testbcContainer
/Examples/src/DesignPatterns/AbstractFactory/main_AbstractFactory
/Examples/src/DesignPatterns/Composite/main_composite
/Examples/src/DesignPatterns/Visitor/main_Visitor
/Examples/src/Utilities/test_cppversion
/Examples/src/Utilities/test_chrono
/Examples/#Makefile.user#

# generated documentation
Examples/src/*/doc/*

# configuration files
Examples/Makefile.inc

# backup files
*~

# c++ compiled
*.o
*.s
a.out
main
*.a
*.so

# makefile aux
make.dep

# simulation results
*.dat

# latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.ps
*.bbl
*.blg
*.synctex.gz
/Examples/lib/libmuparser.so.2
/Examples/lib/libmuparser.so.2.2.4
/Examples/.settings/org.eclipse.ltk.core.refactoring.prefs
/Examples/lib/libmuparser.so.2.2.6
/Examples/lib/pkgconfig/muparser.pc
/Examples/src/Aliasing/main_aliasing
/Examples/src/CRTP/main_crtp
/Examples/src/Constexpr/mainConstexprFunction
/Examples/src/Constexpr/mainConstexprFunction2
/Examples/src/Constexpr/mainNormalFunction
/Examples/src/DreadedDiamond/main_dd
/Examples/src/ExpressionTemplates/Integral/main_integration
/Examples/src/Linkage/main_linkage
/Examples/src/Utilities/test_clonable
/Examples/src/Utilities/test_string
/Examples/src/Utilities/test_toString
/Examples/src/muParserInterface/test_Muparser
/Examples/src/Functors/main_functors
/Examples/src/MyMat0_generic/main_myMat0
/Examples/src/MyMat0_generic/move_report.txt
/Examples/src/MyMat0_generic/no_move_report.txt
/Examples/.cproject
/Examples/src/FinDiff/main_double
/Examples/src/FinDiff/main_extended
/Examples/src/FinDiff/main_float
/Examples/src/MoveSemantic/move_report.txt
/Examples/src/MoveSemantic/no_move_report.txt
/Examples/src/MoveSemantic_simple/main_simple
/Examples/src/RandomDistibutions/main_writeDensityFunction
/Examples/src/Streams/binary_io/file.txt
/Examples/src/Mesh/main_geo
/Examples/src/MetaProgramming/GCD/main_gcd
/Examples/src/Polynomials/main_polynomials
/Examples/src/Templates/Fibonacci/main_fibonacci
/Examples/src/LinearAlgebra/Utilities/test/testAdjacency
/Examples/src/LinearAlgebra/Utilities/test/testCooWrite
/Examples/src/LinearAlgebra/Utilities/test/testMM_readers
/Examples/src/LinearAlgebra/Utilities/test/testRotatingVector
/Examples/src/Regression/README.pdf
/Examples/src/Regression/auto/README.el
/Examples/src/Templates/Interpolation/main_interpolation
/Examples/src/MetaProgramming/DecltypeDeclVal/main_decltype
/Examples/src/MetaProgramming/Trivial/main_trivial
/Examples/src/FPExceptions/main_fpe
/Examples/src/MetaProgramming/Enable_if/main_norms
/Examples/src/MetaProgramming/ifthenelse/main_ifthenelse
/Examples/src/Algorithms/Accumulate/main_summation
/Examples/src/IntegerOverflow/mainItOver
/Examples/src/STL/Set/main_set
/Examples/src/STL/cont/deque1
/Examples/src/STL/cont/multimap1
/Examples/src/STL/cont/multiset1
/Examples/src/STL/cont/oddeven
/Examples/src/STL/cont/ostream_iterator
/Examples/src/STL/cont/set1
/Examples/src/STL/cont/setcmp1
/Examples/src/STL/cont/unordset1
/Examples/src/STL/tuple/test_tie
/Examples/src/STL/tuple/test_tuple
/Examples/src/STL/tuple/test_tuple_cat
/Examples/src/Accumulate/main_summation
/Examples/src/Odr/main2
/Examples/src/SharedLibrary/libsmall.so.1
/Examples/src/SharedLibrary/libsmall.so.1.0
/Examples/src/Utilities/test_Factory
/Examples/src/Utilities/test_scientific_precision
/Examples/src/SharedLibrary/libsmall.so.1.1
/Examples/src/ReferenceWrapper/main_wrap
/Exercises/202*/**/*.pdf
/Exercises/202*/**/output*
/.cproject
/.project
/.settings/language.settings.xml
/.settings/org.eclipse.cdt.core.prefs
/.settings/org.eclipse.cdt.ui.prefs
/Examples/src/Derivatives/main_Derivatives
/Examples/src/Templates/VariadicTemplates/mainVariadic
/Examples/src/STL/Optional/main_optional
/Examples/src/STL/Reduce/mainReduce
/Examples/src/STL/Reduce/mainReduce
/Examples/src/STL/FileSystem/mainFSystem
/Examples/src/Interp1D/main_interp
/Examples/src/Utilities/test_JoinVectors
/Examples/src/Utilities/test_is_complex
/Examples/src/Utilities/test_is_eigen
/Examples/src/MetaProgramming/IsClonable/main_isClonable
/Examples/src/MetaProgramming/Pi/main_pi
/Examples/src/Parallel/MPI/01-HelloWorld/main_hello_world
/Examples/lib/libmuparser.so.2.3.2
/Examples/src/FixedPointSolver/main_FixedPoint
/Examples/lib/cmake/muparser/muparser-targets-release.cmake
/Examples/lib/cmake/muparser/muparser-targets.cmake
/Examples/lib/cmake/muparser/muparserConfig.cmake
/Examples/lib/cmake/muparser/muparserConfigVersion.cmake
/Examples/src/FloatingPoint/FPExceptions/core
/Examples/src/FloatingPoint/FPExceptions/main_fpe
/Examples/src/GenericFactory/main_testAbstractFactory
/Examples/src/Plugins/FactoryPlugin/main_poly
/Examples/src/STL/Variant/main_variant
/Examples/src/Streams/Serialization/main_serialization
